<navbar></navbar>

<div class="container">
    <img src="https://funart.pro/uploads/posts/2021-04/1618221932_42-p-kotenok-na-belom-fone-zhivotnie-krasivo-fo-51.jpg" alt="">
    <div class="info">
        <h1>Советы по уходу за животными</h1>
        <p>Домашние животные не смогут быть счастливыми и здоровыми
            без постоянного и правильного ухода. Внимание уделяется
            не только состоянию шерсти и когтей, но и питанию,
            наличию в рационе витаминов, прививкам, профилактике
            блох, клещей и различных паразитов. На нашем сайта
            вы сможете найти множество советов по уходу за вашими
            любимцами.</p>
    </div>
</div>


<div class="card" *ngIf="article" routerLink="/article{{article.id}}">
    <img src="{{article.pictureUrl}}">
    <div class="info">
        <h2>{{article.title}}</h2>
        <p>{{article.miniText}}</p>  
    </div>        
</div>

<app-footer/>